.file_upload{
    position: relative;
    overflow: hidden;
    font-size: 1em;        /* example */
    height: 2em;           /* example */
    line-height: 2em;
}

.file_upload > button{
    float: right;
    width: 8em;            /* example */
    height: 100%;
    color: rgba(9, 9, 9, 0.85);
    background: white;
    border-radius: none;
    border: 2px solid lightgrey;
    box-shadow: none;
    text-transform: none;
    font-size: 13px;
}
.file_upload > div{
    float: right;
    padding-right: 1rem;
    text-transform: none;
    font-size: 13px;
}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer;
}
.admin_form
{
  color: rgba(9, 9, 9, .85);
  padding: 2rem;
}
