.modal-container {
  margin: 0 auto;
  position: relative;
}

.modal-container .pit {
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 240px;
  height: 50px;
  line-height: 50px;
  background: #446CB3;
  font-size: 22px;
  border: 0;
  box-shadow: 0 5px 5px -5px #333;
  transition: background 0.3s ease-in;
}

.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}

.modal-container #modal-toggle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.modal-container #modal-toggle:hover ~ .pit { background: #1E824C; }

.modal-container #modal-toggle:checked {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 1;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  padding: 10px 30px;
  position: absolute;
  left: calc(50% - 200px);
  top: 12%;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close {
  color: #666;
  position: absolute;
  right: 2px;
  top: 0;
  padding-top: 7px;
  background: #fff;
  font-size: 16px;
  width: 25px;
  height: 28px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button {
  top: initial;
  bottom: 20px;
  right: 20px;
  background: #4CAF50;
  color: #fff;
  width: 50px;
  font-size: 14px;
  font-weight: normal;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button:hover {
  color: #fff;
  background: #1E824C;
}

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close:hover { color: #333; }

.modal-container-map {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: 30rem;
  float: left;
}

.modal-container-map .pit {
  display: block;
  margin: 0 auto;
  color: #fff;
  width: 240px;
  height: 50px;
  line-height: 50px;
  background: #446CB3;
  font-size: 22px;
  border: 0;
  box-shadow: 0 5px 5px -5px #333;
  transition: background 0.3s ease-in;
}

.modal-container-map button
{
  display: block;
  margin: 0;
  margin-right: 5rem;
  margin-top: 2rem;
  color: #fff;
  padding: 5px 4.5rem;
  line-height: 50px;
  background: #44a5cd;
  font-size: 18px;
  border: 0;
  text-transform: uppercase;
  transition: all 0.1s 0.1s;
  text-align: center;
  float: left;
  border-radius: 8px;
  -moz-transition: all 0.2s 0.2s;
  -webkit-transition: all 0.2s 0.2s;
  -o-transition: all 0.2s 0.2s;
  transition: all 0.2s 0.2s;
}
.modal-container-map button:hover 
{ 
  background: rgba(9, 9, 9, 0.70); 
}

.file_upload{
    position: relative;
    overflow: hidden;
    font-size: 1em;        /* example */
    height: 2em;           /* example */
    line-height: 2em;       
}

.file_upload > button{
    float: right;
    width: 8em;            /* example */
    height: 100%;
    color: rgba(9, 9, 9, 0.85);
    background: white;
    border-radius: none;
    border: 2px solid lightgrey;
    box-shadow: none;
    text-transform: none;
    font-size: 13px; 
}
.file_upload > div{
    float: right; 
    padding-right: 1rem;
    text-transform: none;
    font-size: 13px;     
}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer;
}
.admin_form
{
  color: rgba(9, 9, 9, 0.85);
  padding: 2rem;
}        
