    html,body {
    	font-size: 62.5%;
    	cursor: default;
      margin: 0;
      font-family: helvetica;
      min-width: 800px;
    }
    header {
      position: fixed;
      height: 6.7rem;
      width: 100%;
      font-size: 2.0rem;
      background-color: rgba(9, 9, 9, 0.85);
      z-index: 10000;
    }
    header img {
      padding: 0.7rem;
    }
    footer
    {
      font-size: 12px;
      margin-top: 1rem;
      width: 100%;
      height: 7rem;
      background: url(../img/Uzor_3.png) repeat;
    }
    .text-in-footer
    {
      margin: 0 auto;
      width: 50rem;
      padding-top: 2rem;
    }
    header a:not(:first-child) {
      float: right;
      text-decoration: none;
      margin: 0.5rem;
      margin-top: 1.2rem;
      text-transform: uppercase;
      color: #ffffff;
      border-radius: 6px;
      -moz-transition: all 0.1s 0.1s;
      -webkit-transition: all 0.1s 0.1s;
      -o-transition: all 0.1s 0.1s;
      transition: all 0.1s 0.1s;
      padding: 10px;
      border: 2px solid rgba(238, 112, 230,0);
      font-size: 17px;
    }
    header a:not(:first-child):hover
    {
      border: 2px solid #44a5cd;
      color: #44a5cd;
    }

    header a:nth-child(2) {
      margin-right: 2%;
    }

    section {
      font-size:  1.8rem;
      padding-top: 6rem;
      position: relative;
    }
    #home {
      min-height: 60rem;
      /*background: url(../img/Uzor_1.png) repeat;*/
    }
    #home h1 {
      font-weight: 400;
      font-size: 3.9rem;
      text-align: center;
      text-transform: uppercase;
      color: white;
      margin-bottom: 1rem;
      font-family: 'Open Sans';
    }
    #home h2
    {
      font-weight: 400;
      text-align: center;
      color: #2f2f2f;
      font-size: 3rem;
      text-transform: uppercase;
      font-family: 'Open Sans';
     }
    .h1_home-wrapper
    {
      background-size: contain;
      background: url('../img/uzor.png') repeat,
                  url('../img/back.png') center center no-repeat scroll,
                  black;
      background-size: auto, cover;
      width: 100%;
      min-height: 27.5rem;
      position: relative;
      padding-top: 3rem;
      text-align: center;
      margin-bottom: 0;
      color: white;
    }
    .ulyanovsk-h1
    {
      width: 50rem;
      text-align: center;
      margin: 0 auto;
      font-size: 4.5rem;
      letter-spacing: 1px;
    }
    .h2_home-wrapper
    {
      margin-top: 0;
      padding-top: 3rem;

    }
    #home p {
      padding: 0 14% 2rem 14% ;
    }
    .add-button
    {
      background-color: #44a5cd;
      padding: 0.5rem;
      color: white;
      border: 1px solid #44a5cd;
      margin: 1rem;
      margin-top: 2rem;
      margin-right: 0;
      padding-right: 0;
      float: right;
      width: 8em;
    }
    .add-button:hover
    {
      background-color: rgb(69, 112, 157);
    }
    .add_adress-textbox
    {
      width: 98%;
      height: 2.9rem;
      margin: 1rem 0;
      border-radius: 0;
      border: 2px solid lightgrey;
      color: rgba(9, 9, 9, 0.85);
    }
    .personal-infoblock_left
    {
      width: 100%;
      padding: 1rem 0rem;
      position: relative;
      margin: 0 auto;
    }
    .personal-infoblock_right
    {
      width: 100%;
      padding: 1rem 0rem;
      position: relative;
      margin: 0 auto;
    }
    .personal-infoblock_left:last-child
    {
      border: none;
    }
    .infoblocks-wrapper
    {
      width: 65%;
      padding: 3rem 10rem;
      border-radius: 1rem;
      margin-top: 0.5rem;
      margin-left: auto;
      margin-right: auto;
      border: 2px groove rgba(9, 9, 9, 0.85);
      margin-bottom: 4rem;
      text-align: center;

    }
    .float-left
    {
      position: absolute;
      top: 0;
      left: 0;
      width: 12rem;
      height: 12rem;
      background: lightyellow;
      margin-left: 1rem;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 2rem;
      -moz-transform: rotate(5deg);
      -webkit-transform: rotate(5deg);
      -o-transform: rotate(5deg);
      transform: rotate(5deg);
      background: url('../img/boy.png') no-repeat;
      background-size: contain;
    }
    .float-right
    {
      position: absolute;
      top: 0;
      right: 0;
      width: 12rem;
      height: 12rem;
      background: lightyellow;
      margin-right: 1rem;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 2rem;
      -moz-transform: rotate(-15deg);
      -webkit-transform: rotate(-15deg);
      -o-transform: rotate(-15deg);
      transform: rotate(-15deg);
      background: url('../img/girl.png') no-repeat;
      background-size: contain;
    }
    @media (max-width: 900px) {
      .float-right
      {
        right: auto;
        left: 0;
      }

      .personal-infoblock_right, .personal-infoblock_left {
        padding-left: 10rem;
      }
    }
    .second
    {
      transform: translateX(2rem);
      -moz-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      transform: rotate(-10deg);
      background: url('../img/girl.png') no-repeat;
      background-size: contain;
    }
    header span
    {
      float: right;
      color: white;
      margin: 2.2rem;
    }
    .header_of_section
    {
      height: 6rem;
      width: 100%;
      background: rgba(9, 9, 9, 0.85);
      position: absolute;
      top: 100vh;
      z-index: 1;
    }
    textarea
    {
      width: 98%;
      border-radius: 0;
      font-size: 10pt;
      border: 2px solid lightgrey;
      font-family: sans-serif;
      padding-top: 0.5rem;
      margin: 1rem 0;
      color: rgba(9, 9, 9, 0.85);
    }
    .newest_pits-wrapper
    {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 10rem;
      overflow: hidden;
    }
    .new_pit-block
    {
      float: left;
      width: 20%;
      margin-right: 4%;
      padding: 0.5rem;
      color: #2f2f2f;
    }
    .new_pit-block:last-child
    {
      margin-right: 0;
    }
    .float-top
    {
      width: 100%;
      height: 15rem;
      margin-left: auto;
      margin-right: auto;
      background: lightgreen;
      float: top;
      margin-bottom: 0.5rem;
    }
    .text_about_pits
    {
      padding-top: 1rem;
      font-size: 16px;
      color: #2f2f2f;
      line-height: 20px;
    }
    .map-wrapper
    {
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    #pit h1
    {
      font-weight: 400;
      text-align: center;
      color: #2f2f2f;
      font-size: 3rem;
      text-transform: uppercase;
      font-family: 'Open Sans';
    }
    #about h1
    {
      font-weight: 400;
      font-size: 4rem;
      text-align: center;
      text-transform: uppercase;
      padding: 0rem 2rem;
      color: white;
    }
    #about hr
    {
      width: 40rem;
      border: none;
      border-top: 1px dashed rgba(9, 9, 9, 0.85);
      border-bottom: 1px dashed grey;
    }
    .add_new_pit-block
    {
      width: 60%;
      margin: 0 auto;
      height: 40%;
      padding: 0 5rem;
      padding-bottom: 1rem;
      padding-top: 1rem;
      color: #2f2f2f;
      background: white;
    }
    .add_new_pit-block-wrapper
    {
      width: 100%;
      background: white;
    }
    .repeater_uzors
    {
      background: url('../img/Uzor_1_H.png') repeat;
      height: 18px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    .repeater_uzors_black
    {
      background: url('../img/Uzor_2_F.png') repeat;
      height: 18px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
    #about
    {
      background: url('../img/Uzor_2.png') repeat;
      color: rgba(255,255,255,0.81);
      min-height: 55rem;
    }
    #map {
      width: 100%;
      min-height: 50rem;
      padding: 0;
      margin: 0;
   }
   #mapid {
     position: absolute;
     margin-top: -2rem;
   }
   #pit
   {
     /*background: url('../img/Uzor_1.png') repeat;*/
   }
   i
   {
    float: left;
    font-size: 14px;
    color: grey;
   }

    table
    {
      width: 100%;
      height: 35vw;
      padding-bottom: 10rem;
      user-select: none;
    }
    .main
    {
      width: 35%;
      height: 100%;
    }
    .twomain
    {
      width: 40%;
      height: 50%;
    }
    .threemain
    {
      width: 25%;
      height: 50%;
    }
    .oneless
    {
      width: 20%;
      height: 50%;
    }
    .twoless
    {
      width: 40%;
      height: 50%;
    }
    .event
    {
      overflow: hidden;
    }

    .img_block {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    cursor:pointer;
}
.img_block .over_block {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 9900;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
.img_block:hover .over_block {
    display:block;
    background-color:rgba(0, 160, 150, 0.7);
}
.img_block span {
    background: rgba(255,255,255,0.80);
    width:100%;
    height:100%;
    font-size: 17px;
    position:absolute;
    display: block;
    overflow: hidden;
    top: 40vh;
    left: 0;
    z-index: 9910;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    color: rgba(9, 9, 9, 0.85);
    font-family: sans-serif;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.img_block:hover span {
    top:0;
    color: rgba(9, 9, 9, 0.85);
}
.main span
{
  top: 60vh;
}
table p
{
  padding-left: 1rem;
  padding-right: 1rem;
}
span p:first-child
{
  color: grey;
}


.customControl {
            background-color: #fff;
            padding: 0.75rem;
            border-radius: 3px;
            max-width: 200px;
            box-shadow: 0 0 3px rgba(0,0,0,0.5);
            position: absolute;;
            z-index: 99999;
            margin: 2rem;
            font-size: 1.5rem;
        }
